*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    padding: 5px;
}

.headingContainer{
    background-image: linear-gradient( to right,red 10%,green 20%,yellow);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    height: 30px;
    font-size: 10px;
    padding-top: 3px;
    font-weight: bold;
}
.navcontainer{
    border: 2px solid red;
    border-radius: 10px;
    background-color: #77E4C8;
    margin: 20px;
    width:800px;
    height: 100px;
    text-align: center;
    margin-left: 320px;

}

ul.navUl{
    display: inline-block;
    text-align: left;
    padding: 15px;
    font: 1em sans-serif;

}
.detailsContainer{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color: #36C2CE ;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    
}
.details{
    border: 2px solid #4535C1;
    border-radius: 10px;
    width:400px;
    height: 150px;
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #478CCF;
    text-align: center;
    padding: 8px;

}
.performer{
    background-image: linear-gradient( to right,red 10%,yellow 40%, red);
    font-size: 20px;
    animation-name: moveRight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.topPerformers{
    background-image: radial-gradient(#36C2CE,#478CCF,#77E4C8,#4535C1 );
    margin: 5px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

    @keyframes moveRight{ 
        0%{margin-left:-800px;} 
        20%{margin-left:-800px;} 
        35%{margin-left:0px;} 
      100%{margin-left:0px;} 
      } 
  
.studentDeatils{
    background-color: yellow;
    width: 150px;
    height: 100px;
    border: 2px solid #4535C1;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: brown;
    padding: 12px;

}

.studentDeatils:hover{
    width: 200px;
    height: 150px;
    background-color: white;
}
.containerForDetail{
    border: 2px solid black;
    width:75%;
    margin-left: 240px;
    margin-top: 10px;
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'left left main main right right menu'
    'center center center center center center menu'
    'footer footer footer footer footer footer menu';
    gap: 12px;
    background-color: #2196F3;
    padding: 15px;
}

/* .containerForDetail h2{
    background-color: red;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 2px;
}
.containerForDetail h3{
    background-color:#36C2CE ;
    text-align: center;
    text-transform: uppercase;
  
} */

.item1 { 
    grid-area: header;
    background-color: red;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    animation-name: blink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
 }
 @keyframes blink{
    from {background-color: red;}
    to {background-color: yellow;}
  }

.item2 { 
    grid-area: left;
    background-color: #36C2CE;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    padding: 20px;
    
 }
.item3 {
    grid-area: main;
    background-color: yellow;
    text-align: center;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
 }
.item4 { 
    grid-area: right;
    background-color: #36C2CE;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
     padding: 18px;
     height: 100px;
}
.item5 {
     grid-area: center;
    background-color: #77E4C8 ;
    font-weight: bold;
    font-size: larger;
    height: 150px;
    text-align: center;
    padding: 35px;

}
.item6 { 
        grid-area: menu;
        background-color: black;
        color: white;
        text-align: center;
        font-size: larger;

}
.item7 { 
    grid-area: footer;
    background-color:aqua ;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
   

}

ol.grid-Ol{
    display: inline-block;
    text-align: left;
    margin-left: 25px;
    margin-top: 30px;
    text-decoration: underline;
   
    
}




/* #36C2CE 
#478CCF
#4535C1 
#77E4C8*/